.laptop-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -80px;
  }
  
  .laptop-frame {
    width: 100%;
    height: auto;
  }
  
  .wireframe-container {
    position: absolute;
    top: 185px;
    left: 50.3%;
    transform: translateX(-50%);
    overflow-y: auto;
    max-height: 48.8%;
    width: 90%;
    max-width: 61.6%;
  }

  @media screen and (max-width: 920px) {
    .color-palette {
      margin-left: 10px;
      margin-bottom: 20px;
    }
  
    .laptop-container {
      max-width: 90%;
    }
  
    .wireframe-container {
      position: absolute;
      top: 47.9%;
      left: 50.4%;
      transform: translate(-50%, -50%);
      overflow-y: auto;
      max-height: 47.7%;
      width: 90%;
      max-width: 61.6%;
    }
  }

  @media screen and (max-width: 600px) {
    .laptop-container {
      max-width: 90%;
      margin-top: -20px;
    }
  
    .wireframe-container {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow-y: auto;
      max-height: 47.7%;
      width: 90%;
      max-width: 61.5%;
    }
  
    .color-palette {
      margin-left: 0px;
      margin-bottom: 10px;
    }
  }