// Colors
$Green: #BAB492;
$yellow: #FFBD80;
$peach: #FFB18B;
$pink: #DB8B8A; 
$lightpink: #E8C3BB;
$rose: #E77F86;
$darkGreen: #4D5A0B;
$orange: #E98746;


@import url("https://use.typekit.net/nvo3ftu.css");
.App-header {
  font-family: "interface", sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.App-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Container {
  position: absolute;
  top: 46%;
  left: 50%;
  min-width: 400px;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "interface", sans-serif;
  font-size: 4.3rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem; /* Change font size to 4rem for screen width of 500px or smaller */
  }
}

p {
  font-family: "interface", sans-serif;
  font-size: 1rem;
  color: white;
  margin-top: -50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-weight: 400;
}

.BTN-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


// ----------------- HOME PAGE --------------------------
.Home,
.Contact,
.About {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "interface", sans-serif;
}

.Home-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;

  h1 {
    color: $rose;
    text-transform: none;
    margin-top: -100px;
    text-align: center;
  }

  h2 {
    margin-top: -50px;
    color: $orange;
    text-align: center;
  }

  p {
    margin-top: 5px;
    width: 70%;
    color: rgb(44, 44, 44);
    text-align: center;
  }
}

.arrow {
  color: $rose;
  cursor: pointer;
}

.Projects-Container {
  .rectangle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 70%;
    margin: 0 auto;

    .description {
      height: 500px;
      flex: 1;
      background-color: #d6d6d6;
      padding: 20px;

      h1 {
        text-align: left;
        color: black;
      }

      h2 {
        text-align: left;
        color: #8a8989;
        font-weight: 300;
      }

      p {
        text-align: left;
        color: black;
        margin-left: -15px;
        font-size: 15px;
      }
    }

    img {
      height: 500px;
      width: auto;
    }

    .column-icon {
      padding: 10px;
      transition: transform 0.5s;
      border-radius: 50%;
      transition: ease-in 0.5s;
      width: 50px;
      height: 50px;
    }

    button {
      font-family: "interface", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #000000;
      padding: 12px;
      text-decoration: none;
      width: 130px;
      border: 1px solid #000000;
      background-color: transparent;
      border-radius: 10px;
      transition: ease-out 0.5s;
      cursor: pointer;
      height: auto;
      text-decoration: underline;
      margin-top: 20px;
    }

    button:hover {
      background-color: $rose;
      border: 1px solid $rose;
      transition: ease-in 0.5s;
      text-decoration: none;
      color: white;
    }
  }
}

// ------------ MEDIA QUERIES -----------------

/* Media query for screens smaller than 767px */
@media (max-width: 767px) {
  .projects-container {
    grid-template-columns: repeat(2, 300px);
  }

  .project .overlay {
    font-size: 1.2rem;
  }

  .Fprojects-container {
    grid-template-columns: 1fr;
    margin: 20px;
  }
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(1, 300px);
  }

  .project .overlay {
    font-size: 1rem;
  }
}
