.Home,
.Contact,
.About {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "interface", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 50px;
  margin-left: 50px;
  z-index: 1000;
  transition: ease-in 0.3s;
}

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.navbar a {
  text-decoration: none;
  color: #b96d6d;
  transition: ease-out 0.5s;
}

.active a {
  color: #67302d;
  font-weight: 600;
}

.activestate .navbar {
  background-color: #e6cdcd;
  transition: ease-in 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.295);
}

a:hover {
  color: #67302d;
  transition: ease-in 0.3s;
}

.main-elements {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push main elements to the left */
}

.main-elements li {
  padding: 10px;
}

.menu-icon {
  color: #67302d;
}

.home-page-element {
  text-align: left;
  padding-right: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 2rem;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align icons to the right */
  align-items: center;
}


.icon {
  flex: 1;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  padding: 8px;
  background-color: #ebd6d6;
  margin-left: 10px;
  border-radius: 5px;
  color: #b96d6d;
  transition: ease-out 0.5s;
}

.icon:hover {
  color: #67302d;
  transition: ease-in 0.5s;
  cursor: pointer;
}

.Home-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.Home-Container h1 {
  color: #67302d;
  text-transform: none;
  margin-top: -100px;
  text-align: center;
}

.Home-Container h2 {
  margin-top: -50px;
  color: #b96d6d;
  text-align: center;
}

.Home-Container p {
  margin-top: 5px;
  width: 70%;
  color: rgb(44, 44, 44);
  text-align: center;
}

.arrow {
  color: #67302d;
  cursor: pointer;
}

.Pcontainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  padding-bottom: 30px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc((100% - 225px) / 3), 1fr)
  );
  grid-gap: 20px;
}

* {
  box-sizing: border-box;
}

.projects-container {
  border-radius: 5px;
  background-color: #fff4e6;
}

.projects-container > div {
  width: 90%;
  max-width: 1100px; 
  height: auto; 
  aspect-ratio: 1; 
  border-radius: 5px;
  background-color: #ffd8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.projects-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project {
  position: relative;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 48, 45, 0.8);
  color: white;
  font-size: 1.5rem;
  font-family: "interface", sans-serif;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
  transition: opacity 0.3s ease;
}

.project:hover .overlay {
  opacity: 1;
}

/* --------------------- PROJECT PAGES -------------------------------------- */

.Hero-Container {
  height: 50%;
  margin-top: 100px;
}

.Hero-Container img {
  width: 100%;
}

.Hero-Container h1 {
  padding-top: 50px;
  color: #67302d;
  font-size: 3rem;
  text-transform: none;
  text-align: center;
}
.Hero-Container h2 {
  margin-top: -45px;
  color: #67302d;
  font-size: 1.5rem;
  text-transform: none;
  text-align: center;
  font-weight: 400;
}
.Hero-Container h3 {
  font-size: 1rem;
  font-weight: 300;
  color: #b96d6d;
  text-transform: none;
  text-align: center;
}

.ProjectContainer {
  display: flex;
}

.Content {
  flex: 1; 
  padding-right: 20px; 
}

.Video {
  flex: 1;
}

.FContainer h2 {
  color: #67302d;
  font-size: 1.5rem;
  text-transform: none;
  margin-left: 15px;
  font-weight: 600;
}

.FContainer p {
  color: black;
  text-align: left;
  text-align: justify;
  margin-left: -5px;
  margin-top: 20px;
}

.FContainer .icon {
  margin-top: -15px;
  height: 40px;
  width: 40px;
  margin-left: 15px;
  margin-right: -10px;
}

video{
  height: 500px;
  border-radius: 20px;
}
/* --------------------- ALL MEDIA QUERIES + KEYFRAMES ---------------------- */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .projects-container {
    grid-template-columns: repeat(2, 300px);
  }

  .project .overlay {
    font-size: 1.2rem;
  }
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(1, 300px);
  }

  .project .overlay {
    font-size: 1rem;
  }
}

/* Media Query for screens up to 600px width */
@media (max-width: 800px) {
  .main-elements {
    display: none;
    margin-top: 100px;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar li {
    transition: ease-out 0.3s;
    width: 100%;
    text-align: center;
  }

  .main-elements.open {
    display: flex;
    position: absolute;
    top: 100px;
    bottom: 50;
    left: -0.1px;
    margin: auto; /* Center horizontally */
    padding: 10px;
    z-index: 999;
    background-color: #e6cdcd;
    width: 100%;
    border-radius: 20px;
    overflow-y: none;
  }

  .main-elements li:hover {
    background-color: #e4e4e463;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    transition: ease-in 0.3s;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 50px;
  }
}

